.queue {
  background: rgba(white, 0.08);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 3px;
}

.header {
  padding: 20px;
  background: rgba(white, 0.04);
  line-height: 130%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  small {
    font-size: 0.8rem;
    opacity: 0.8;
  }

  button {
    background: none;
    outline: 0;
    border: 0;
    color: white;
    font-size: 1.6rem;
    cursor: pointer;
    opacity: 0.7;
    margin-left: 10px;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.3;
    }
  }
}

.list {
  position: relative;
  min-height: 400px;
  flex: 1;

  > div {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
}

.item {
  cursor: pointer;
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: 20px 90px 1fr;
  grid-gap: 10px;
  padding: 5px;
  transition: 0.2s ease;
  line-height: 110%;

  img {
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    width: 100%;
    transition: 0.2s ease;
    border-radius: 3px;
  }

  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }

  div:first-child {
    justify-self: center;
    align-self: center;
  }
}

.details {
  padding: 5px 0;

  p:first-child {
    font-weight: bold;
    margin-bottom: 8px;
  }

  p:nth-child(2) {
    opacity: 0.6;

    strong {
      font-weight: 700;
    }
  }
}

.active {
  .details p:first-child {
    color: #f5cd79;
  }

  img {
    box-shadow: 0 4px 18px -4px rgba(darken(#1a2030, 18%), 0.9);
    transform: scale(1.08);
  }

  padding: 20px 5px;
  background: rgba(black, 0.1);
}
