.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > div {
    flex: 1
  }

  h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
}

.form {
  input {
    background: #1D2235;
    border: 0;
    outline: 0;
    font-size: 1rem;
    color: white;
    padding: 15px 25px;
    font-family: inherit;
    width: 400px;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgba(white, 0.6);
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: rgba(white, 0.6);
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: rgba(white, 0.6);
  }
  :-moz-placeholder { /* Firefox 18- */
    color: rgba(white, 0.6);
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}

.channel {
  cursor: pointer;
  background: #1D2235;
  padding: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  transition: transform 0.2s ease;

  span {
    padding-left: 10px;
    position: relative;
  }

  span:before {
    content: '';
    width: 7px;
    height: 7px;
    background-color: aquamarine;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -4px;
    transform: translateY(-50%);
  }

  &:hover {
    transform: scale(1.02);
  }
}
