.home {
  h4 {
    font-size: 1.2rem;
    margin: 20px 0;
    margin-top: 40px;
    white-space: nowrap;
    overflow: hidden;

    &:after {
      margin-left: 18px;
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 80%;
      height: 2px;
      background: linear-gradient(to right, rgba(#ffffff, 0.15), transparent 80%);
    }
  }
}

.featured {
  margin-bottom: 4rem;
}

.cta {
  margin: 50px 0 80px;

  h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    font-weight: 700;
  }

  p {
    font-size: 1.1rem;
    margin-bottom: 20px;
    opacity: 0.7;
  }
}

.form {
  input {
    background: rgba(white, 0.05);
    border: 0;
    border-bottom: 2px solid transparentize(#f5cd79, 0.5);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    outline: 0;
    font-size: 1rem;
    color: white;
    padding: 20px;
    font-family: inherit;
    width: 400px;

    &:focus {
      border-bottom: 2px solid #f5cd79;
    }
  }

  ::-webkit-input-placeholder {
    color: rgba(white, 0.6);
  }
  ::-moz-placeholder {
    color: rgba(white, 0.6);
  }
  :-ms-input-placeholder {
    color: rgba(white, 0.6);
  }
  :-moz-placeholder {
    color: rgba(white, 0.6);
  }

  @media (max-width: 768px) {
    input {
      width: 100%;
    }
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}

.channel {
  cursor: pointer;
  background: linear-gradient(to bottom, rgba(white, 0.08), rgba(#efefef, 0.08));
  border-radius: 2px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  transition: 0.1s ease;
  display: flex;
  opacity: 0.8;

  .channelName {
    color: white;
    text-decoration: none;
    padding-left: 10px;
    position: relative;
    flex-grow: 1;
    padding: 20px;
    padding-left: 10px;
    margin-left: 20px;

    &:before {
      content: '';
      width: 7px;
      height: 7px;
      background-color: aquamarine;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: -4px;
      transform: translateY(-50%);
    }
  }

  .channelAction {
    opacity: 0.8;
    padding: 20px;

    &:hover {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  &:hover {
    opacity: 1;
  }
}
